<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solarpanelmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.solarpanelmanager.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.solarpanelmanager.BatteryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.solarpanelmanager.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.solarpanelmanager.HistoricalGraphActivity"
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name="org.achartengine.GraphicalActivity" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.solarpanelmanager.KnownDevicesActivity"
            android:label="@string/title_activity_known_devices" >
        </activity>
        <activity android:name="ConnectActivity"></activity>
        <activity android:name="PreferencesActivity"></activity>
    </application>

</manifest>